<!doctype html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    
    <title>List Phones</title>
</head>

<body>
    Phone Numbers. <br /><br />

    Filters:
    <select name="filterCountry" id="filterCountry" onchange="updateTablePhone()">
        <option value="">Select a country</option>
        <option value="Cameroon">Cameroon</option>
        <option value="Ethiopia">Ethiopia</option>
        <option value="Morocco">Morocco</option>
        <option value="Mozambique">Mozambique</option>
        <option value="Uganda">Uganda</option>
    </select>

    <select name="filterStatePhone" id="filterStatePhone" onchange="updateTablePhone()">
        <option value="">Valid phone numbers</option>
        <option value="OK">OK</option>
        <option value="NOK">NOK</option>
    </select>

    <table id="listPhonesTable">
        <thead>
            <th>Country</th>
            <th>State</th>
            <th>Country Code</th>
            <th>Phone Num</th>
        </thead>
        <tbody>

        </tbody>
    </table>

    <script src="static/main.js"></script>
</body>

</html>